.background-overlay{
    position: absolute;
    background: rgba(0,0,0, 0.9);
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

.container{
    width: 100%;
    margin: auto;
    height: 480px;
    /* align-content: center; */
    /* justify-content: center; */
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    margin-top: 100px;
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
   
    background-color: rgba(255,255,255, 1);
}

.content{
    padding: 50px;
    line-height:70px;
   
}
.image img{
    vertical-align: middle;
    border-style: none;
    margin: auto;
    height: 385px;
    width: 550px;
    display: flex;
    margin-right: 50px;
}
